body {
    padding-top: 54px;
}
h1{
  color: white;
  font-family: 'Lobster', cursive;
}
h2{
  margin-top:19px;
  margin-bottom: 19px;
}

label{
  display: block;

}
form{
  margin-top: 25px;
}
input{
  display: inline;
  margin-bottom:8px;
}

.orderForm{
background-color: lightGrey;
}

h3{
  margin-top: 12px;
}

.frontIcon{
  max-width:auto;
  margin: auto;
}
.right{
  text-align: right;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
