body {
  padding-top: 54px;
}

h1 {
  color: white;
  font-family: 'Lobster', cursive;
}

h2 {
  margin-top: 19px;
  margin-bottom: 19px;
}

h3 {
  margin-top: 12px;
}

label {
  display: inline;
}

form {
  margin-top: 25px;
}

input {
  display: inline;
  margin-bottom: 8px;
}

table {
  margin-bottom: 25px;
  border-spacing: 12px;
  border-bottom: solid;
  border-color: lightgray;
  border-bottom-width: .5px;
}

th, td {
  text-align: left;
  margin-right: 15px;
}

p{
  font-family: 'Lora', serif;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.orderForm {
  background-color: lightGrey;
}

.frontIcon {
  max-width: auto;
  margin: auto;
}

.portfolio-item
{
  margin-bottom:12px;
}

.card-footer{
  background-color: lightslategray;
}

.price{
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}
.navbar{
  background-color: lightslategray;
}
.right {
  text-align: right;
}

.orderForm{
  outline: none;
  border: none;
  background-color: white;
}

hr{
  margin-top: -6px;
}
#yourSubTotal {
  text-align: right;
  font-size: 14px;
}

#yourTotal {
  text-align: right;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: lightgray;
  border-bottom-width: .5px;
  margin-bottom: 4px;
}

#yourTax {
  text-align: right;
  font-size: 14px;
  color: darkgray;
}

.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 275px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: black; /* Black background color */
    color: white; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 40px;
}

#snackbar1{
  background-color: darkred;
}
#snackbar4{
  background-color: darkgreen;
  color:white;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible; /* Show the snackbar */
    animation: fadein 0.5s, fadeout 1.5s 3.5s;
}

/* Animations to fade the snackbar in and out */
/*@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}*/

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40px; opacity: 1;}
}

/*@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}*/

@keyframes fadeout {
    from {bottom: 40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
